.container{
    height: 100%;
    display: flex;
   justify-content: center;
    align-items: center;
    padding: 5rem;

}

.formContainer{
    border-radius: 10px;
    width: 33%;
    
   padding: 10px;
   box-shadow: 3px 3px 7px 0px #000000;
}
#floatingTextarea{
    min-height: 100px;
}