.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'a,b,c';
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
   
   
}
.description{
    text-align: center;
    
}